.text-products{
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: .5rem;
   margin-left: 0%;
   color: #03dac6;
}
.text-foulario{
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: .5rem;
   margin-left: 0%;
   color: #03dac6;
}
.btnRealizarPerdido{
   width: 60%;
   border-radius: 16px 0px 16px 0px;
   background-color: #03dac6;
   color: #fff;
   font-weight: 600;
}
.btnRealizarPerdido:hover{
   width: 60%;
   border-radius: 0 16px 0px 16px;
   background-color: #03dac6;
   color: #fff;
   font-weight: 600;
}
.btnTotal{
   background-color: #03dac6;
}
