@media (min-width: 360px) { 
   .botonContact{
      display: block;
      margin: 12px 50px -12px 50px;
   } 
   .btn{
      margin-top:10px;
   }

   .btnEnviarMensaje{
      border-radius: 20px 0% 0% 0%;
      background-color:#ff0266;
      color: #fff;
   }
   .btnVolver{
      border-radius: 0% 0% 20px 0%;
      background-color:#03dac6;
      color: #fff;
   }
   .titleContact{
      color:#03dac6;
      font-weight: 300;
   }
}
@media (min-width: 576px) { 
   .botonContact{
      display:flex;
      justify-content: center;
      margin: 12px -50px -12px -50px;
   }
}

@media (min-width: 768px) { 
   .botonContact{
      display:flex;
      justify-content: center;
      margin: 12px -50px -12px -50px;
   } 
  
}

@media (min-width: 992px) { 
   .guaches{
      display: inline-block;
   }
   .titleContact{
      color:#ff0266;
      font-weight: 900;
   }
}

@media (min-width: 1200px) { 
   
}

@media (min-width: 1400px) {
   
}